.DS_Store
# Eagle auto-backups
*.s#?
*.b#?
# Fusion exports / fab outputs (regenerate, don't track)
gerbers/
*.zip
# Build / test artifacts (regenerate with `make`)
emulator/p8xemu
emulator/*.o
emulator/test/*.bin
emulator/test/*.out
emulator/test/cf.img
emulator/test/os.img
emulator/test/v2.img
emulator/test/cfbig.img
emulator/test/fmt.img
emulator/test/fs.img
emulator/test/sl.img
emulator/test/ob.img
emulator/test/av.img
emulator/test/bas.img
emulator/test/tinyos.asm
emulator/test/prog.asm
emulator/test/v2prog.asm
emulator/test/*.tmp
# combined monitor+BASIC ROM (rebuild with tools/build_basic_rom.py)
/p8x-rom-basic.bin
# stray microcode images if a generator is run from the repo root
/u?.bin
/os/run-disk.img
emulator/test/*.hex
/u?.hex
/p8x-rom-basic.hex
microcode/u?.hex
emulator/test/io.asm
emulator/u?.bin
emulator/test/v2bad.img

# Eagle/ libraries + design rules ARE tracked (so the project is self-contained
# for anyone reproducing it). Skip only the redundant pre-conversion binary backup.
Eagle/Libraries/*.orig.lbr
emulator/test/fd.img
emulator/test/argv.asm
emulator/test/ed.img
emulator/test/as.img
emulator/test/opctab.asm
emulator/test/asmfull.asm
emulator/test/prog.asm
emulator/test/prog.bin
emulator/test/golden.bin
emulator/test/PROG.BIN
emulator/test/OUT.BIN
emulator/test/cover.asm
emulator/test/covgold.bin
emulator/test/COVER.BIN
emulator/test/c.img
emulator/test/ctest.c
emulator/test/ctest.asm
emulator/test/ctest.bin
emulator/test/sh.img
emulator/test/shopc.asm
emulator/test/shfull.asm
emulator/test/shgold.bin
emulator/test/SELF.BIN
emulator/test/fo.img
emulator/test/hopen.bin
emulator/test/fw.img
emulator/test/hwrite.bin
emulator/test/fr.img
emulator/test/hresolve.bin
emulator/test/wd.img
emulator/test/hwrdir.bin
emulator/test/fn.img
emulator/test/hnorm.bin
emulator/test/fx.img
emulator/test/hdir.bin
emulator/test/cl.img
emulator/test/clibc.c
emulator/test/clibc.asm
emulator/test/clibc.bin
emulator/test/osc.bin
emulator/test/cs.img
emulator/test/cstruct.c
emulator/test/cstruct.asm
emulator/test/cstruct.bin
emulator/test/cg.img
emulator/test/cglob.c
emulator/test/cglob.asm
emulator/test/cglob.bin
emulator/test/p8cc_host
emulator/test/pcc.asm
emulator/test/pcc.bin
