// sdram_video_test.cst -- stage 1. SDRAM pads are absent on purpose (see README).
IO_LOC  "clk27" 4;
IO_PORT "clk27" IO_TYPE=LVCMOS33;
IO_LOC  "uart_txp" 69;
IO_PORT "uart_txp" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC  "led[0]" 15;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[1]" 16;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[2]" 17;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[3]" 18;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[4]" 19;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC  "led[5]" 20;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
// panel pins, copied from the proven p8x tangnano20k.cst
IO_LOC  "lcd_clk" 77;
IO_PORT "lcd_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_de" 48;
IO_PORT "lcd_de" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_r[4]" 38;
IO_PORT "lcd_r[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_r[3]" 39;
IO_PORT "lcd_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_r[2]" 40;
IO_PORT "lcd_r[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_r[1]" 41;
IO_PORT "lcd_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_r[0]" 42;
IO_PORT "lcd_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_g[5]" 32;
IO_PORT "lcd_g[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_g[4]" 33;
IO_PORT "lcd_g[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_g[3]" 34;
IO_PORT "lcd_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_g[2]" 35;
IO_PORT "lcd_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_g[1]" 36;
IO_PORT "lcd_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_g[0]" 37;
IO_PORT "lcd_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_b[4]" 27;
IO_PORT "lcd_b[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_b[3]" 28;
IO_PORT "lcd_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_b[2]" 29;
IO_PORT "lcd_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_b[1]" 30;
IO_PORT "lcd_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
IO_LOC  "lcd_b[0]" 31;
IO_PORT "lcd_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24;
